*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.destaque{
    width: 100%;
}

.containerDestaque{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;

}